h1,#result{
    text-align: center;
}

#submit{
    background-color: green;
    color:white;
    padding:5px;
    border:none;
    border-radius: 5px;
    text-align: center;
    width:100px;
}
#quiz{
    margin:auto 25% ;
}
#button1{
    text-align: center;
}